input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
}
html {
  height: 100%;
  font-family: Gotham, Helvetica, Arial, sans-serif;
  user-select: none;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d2d8ff;
}
.stats-button {
  position: absolute;
  left: 20px;
  top: 7px;
  padding: 10px;
  outline: none;
  border: none;
  color: #5c6bc2;
  background-color: transparent;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  border-radius: 7px;
}
.stats-button:active {
  transform: translateY(2px)
}
.createdBy {
  position: absolute;
  right: 20px;
  top: -3px;
  display: flex;
  align-items: center;
}
.created-by {
  color: #5c6bc2;
  margin-right: 10px;
}
.me {
  font-weight: bold;
  color: black;
}
.title {
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.container-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #2c356a;
}
#main {
  display: flex;
  align-items: center;
  justify-content: center;
}
#secondary {
  display: none;
}
.kana-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: calc(50% - 100px);
  top: 28%;
}
.hiragana, .katakana {
  margin-bottom: 100px;
}
.hiragana > h3, .katakana > h3 {
  margin: 0;
  text-align: center;
  font-size: 30px;
  color: #5c6bc2;
  margin-right: 20px;
}
.hiragana > input[type="checkbox"], .katakana > input[type="checkbox"] {
  position: relative;
  font: inherit;
  color: transparent;
  background-color: transparent;
  width: 26px;
  height: 26px;
  border: 3px solid black;
  border-radius: 0.15em;
  margin-left: -40px;
  margin-top: -30px;
  display: grid;
  place-content: center;
}
.hiragana > input[type="checkbox"]::before, .katakana > input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  margin-top: 1px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: black;
}
.hiragana > input[type="checkbox"]:checked::before, .katakana > input[type="checkbox"]:checked::before {
  transform: scale(1);
}
#main > form {
  display: flex;
  flex-direction: row;
  overflow-wrap: normal;
}
#main > form > div > input[type=button] {
  font-size: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -20px;
  top: 50%;
  left: calc(50% - 87px);
  font-weight: bold;
  color: #5c6bc2;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
#main > form > div > input[type=button]:active {
  transform: translateY(2px);
}
.container-start > form > div {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 20px;
  font-size: larger;
}
.container-test {
  position: absolute;
  top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  text-align: center;
}
#character {
  margin: 0;
  font-size: 150px;
  font-weight: 500;
  color: #5c6bc2;
}
.submit {
  display: none;
}
input {
  outline: none;
}
.input {
  border-color: transparent;
  height: 40px;
  font-size: 30px;
  text-align: center;
  transition: 1s;
}
#averages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw !important;
}
#averages > .average {
  margin-right: 10px;
  margin-bottom: 10px;
  border-color:#5c6bc2;
  border-width: 3px;
  border-style: solid;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}
.character, .correct, .time {
  margin-top: 5px;
  margin-bottom: 0;
}
.character {
  font-size: 45px;
  color: #5c6bc2;
}
.sound {
  margin-top: 0;
  margin-top: -10px;
  font-size: 17px;
  font-weight: 500;
}
.correct, .time {
  font-size: 18px;
  color: #3e4a91
}
.hidden {
  display: none !important;
}